@if (!string.IsNullOrEmpty(ViewData["scc"]?.ToString()))
{
    <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
        <div class="alert alert-success" role="alert" style="padding: 10px; margin: 20px;">
            @ViewData["scc"]
        </div>
    </div>

}
